@import "tailwindcss";

.image-clip-1 {
  clip-path: inset(100% 75% 0% 0);
  transform: translateY(50%);
}
/* .image-clip-1:hover {
  clip-path: inset(0 75% 0 0);
} */
.image-clip-2 {
  clip-path: inset(100% 50% 0% 25%);
  transform: translateY(50%);
}
/* .image-clip-2:hover {
  clip-path: inset(0 0 0 0);
} */
.image-clip-3 {
  clip-path: inset(100% 25% 0% 50%);
  transform: translateY(50%);
}
/* .image-clip-3:hover {
  clip-path: inset(0 0 0 0);
} */
.image-clip-4 {
  clip-path: inset(100% 0% 0% 75%);
  transform: translateY(50%);
}
/* .image-clip-4:hover {
  clip-path: inset(0 0 0 0);
} */

.image-clip-1,
.image-clip-2,
.image-clip-3,
.image-clip-4 {
  will-change: clip-path;
}

.img-m-1 {
  clip-path: polygon(100% 0, 100% 13%, 0 45%, 0 0);
}

.img-m-2 {
  clip-path: polygon(100% 10%, 100% 51%, 0 85%, 0 45%);
}
.img-m-3 {
  clip-path: polygon(100% 51%, 100% 100%, 0 100%, 0 85%);
}

/* .img-m-1:hover {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.img-m-2:hover {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.img-m-3:hover {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
} */
